<h1>Javascript y CoffeeScript</h1>


<br>
<h2>
<%= link_to 'Alumnos Calificar', '/alumnos/calificar' %>
<br>

<h2>
<br>http --- 
<%= link_to 'Javascript y CoffeeScript', 'http://fernando-gaitan.com.ar/ruby-on-rails-parte-18-javascript-y-coffeescript/' %></br>



